
.search{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.card{
   display: flex;    
   justify-content: center;
   flex-direction: initial;
   border: 1px solid rgba(255, 255, 255, 0);
   margin: -10px;
}

#button{
    background-color: rgb(230, 230, 230);
}